body{
    font-family: 'Garamond', 'Times New Roman';
    font-size: 20px;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

.page{
    display: block;
    width: 1200px;
    height: 100%;
    display: inline-block;
    overflow: hidden;
}

.page header{
    width: 100%;
    text-align: center;
    border-bottom: 1px black solid;
    position: relative;
    padding-top: 50px;
    height: 94px;
}

.page header .logo{
    width: 177px;
    height: 35px;
    background-image: url(/static/logo.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page header .language{
    position: absolute;
    left: 0;
    top: 20px;
    color: #999;
    font-size: 14px;
}

.page header .login{
    position: absolute;
    background-image: url(/static/lock.png);
    width: 11px;
    height: 15px;
    right: 0;
    top: 20px;
}

.page .body{
    text-align: left;
    text-indent: 1.5em;
    margin: 30px 50px;
    position: relative;
}

.page .body .sample-text p:first-child:first-letter{
    font-size: 50px;
}

.page .body .sample-text{
    width:100%;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

.page .body .sample-text p{
    margin-top: 0;
}

.register-button{
    text-indent: 0;
    top: 50%;
	left: 50%;
    margin-left: -200px;
    margin-top: -50px;
    position: absolute;
    background-color: #80c26c;
    color: white;
    padding: 35px 45px;
    font-size: 30px;
    cursor: pointer;
}