<!DOCTYPE html>
<html>
<head>
    <title>User: {{ username }}.</title>
</head>
<body>
<h3>All works:</h3>
<ul>
{% for work in works %}
    <li><a href="/work/{{ username }}/{{ work['name'] }}">{{ work['title'] }}</a></li>
{% endfor %}

{% if is_current_user %}
    <h3>Create new work</h3>
    <form action="" method="post">
            <p><input placeholder="Name (latin letters only)" type=text name=name>
            <p><input placeholder="Title" type=text name=title>
            <p><select name=access>
                <option value="public">Public</option>
                <option value="private">Private</option>
               </select>
            <p><textarea name=description></textarea>
            <p><input type=submit value=Create>
        </form>
{% endif %}

</ul>
</body>
</html>