<html>
  <head>
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="/static/comm.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/stadd.css">
  </head>
 <body>
 <div id="text">
    {% filter markdown %}
        {{ text }}
    {% endfilter %}
 </div>
{% if comments %}
	{% for comm in comments %}
		<div id="comment_{{ comm['counter'] }}" class="comment" style="margin-left:{{ comm['indent'] }}px">
			<div id="comm_header">Posted by {{ comm['author'] }} at {{ comm['created'] }}</div>
			<div id="comm_body">{{ comm['value'] }}
			<br><br><a href='javascript:void();' id="answer_{{ comm['counter'] }}" onclick='showForm(this.id)'>Answer this</a></div>
			<input type="hidden" id="idval_{{ comm['counter'] }}" value="{{ comm['id'] }}">
		</div>
	{% endfor %}
{% endif %}
<hr>
{% if is_current_user %}
<a href='javascript:void()' id="commnew" onclick="showForm(this.id)">Have something to say?</a>
{% endif %}
  </body>
</html>
